// Place all the styles related to the url controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: "Droid Sans";
  src: url("droid-sans.bold.ttf");
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

input {
  width: 120%;
  border: 1px solid #dddddd;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  border-radius: 5px;
  line-height: 22px;
  padding: 9.6px 16px;
  outline: none;
}

input:focus {
  border-color: blue;
}

.table-container {
  margin-top: 10px;
  width: 27%;
}

table {
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  padding: 5px;
}
